[submodule "Core Token Standards/ERC-721/lib/forge-std"]
	path = Core Token Standards/ERC-721/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DeFi-Related Standards/ERC-4626/lib/forge-std"]
	path = DeFi-Related Standards/ERC-4626/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Core Token Standards/ERC-777/lib/forge-std"]
	path = Core Token Standards/ERC-777/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Core Token Standards/ERC-777/lib/openzeppelin-contracts"]
	path = Core Token Standards/ERC-777/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Core Token Standards/ERC-1155/lib/forge-std"]
	path = Core Token Standards/ERC-1155/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "NFT Enhancement Standards/ERC-721A/lib/forge-std"]
	path = NFT Enhancement Standards/ERC-721A/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "NFT Enhancement Standards/ERC-2981/lib/forge-std"]
	path = NFT Enhancement Standards/ERC-2981/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "NFT Enhancement Standards/ERC-4907/lib/forge-std"]
	path = NFT Enhancement Standards/ERC-4907/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "NFT Enhancement Standards/ERC-5192/lib/forge-std"]
	path = NFT Enhancement Standards/ERC-5192/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DeFi-Related Standards/ERC-4626/lib/openzeppelin-contracts"]
	path = DeFi-Related Standards/ERC-4626/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "NFT Enhancement Standards/ERC-2981/lib/openzeppelin-contracts"]
	path = NFT Enhancement Standards/ERC-2981/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "NFT Enhancement Standards/ERC-721A/lib/openzeppelin-contracts"]
	path = NFT Enhancement Standards/ERC-721A/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Core Token Standards/ERC-2981/lib/forge-std"]
	path = Core Token Standards/ERC-2981/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Core Token Standards/ERC-5192/lib/forge-std"]
	path = Core Token Standards/ERC-5192/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DeFi-Related Standards/ERC-2612/lib/forge-std"]
	path = DeFi-Related Standards/ERC-2612/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DeFi-Related Standards/ERC-3156/lib/forge-std"]
	path = DeFi-Related Standards/ERC-3156/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DeFi-Related Standards/ERC-3156/lib/openzeppelin-contracts"]
	path = DeFi-Related Standards/ERC-3156/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Infrastructure Standards/ERC-165/lib/forge-std"]
	path = Infrastructure Standards/ERC-165/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Infrastructure Standards/ERC-1167/lib/forge-std"]
	path = Infrastructure Standards/ERC-1167/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Infrastructure Standards/ERC-1271/lib/forge-std"]
	path = Infrastructure Standards/ERC-1271/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Infrastructure Standards/ERC-1271/lib/openzeppelin-contracts"]
	path = Infrastructure Standards/ERC-1271/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Payment and Account Standards/ERC-681/lib/forge-std"]
	path = Payment and Account Standards/ERC-681/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Payment and Account Standards/ERC-2771/lib/forge-std"]
	path = Payment and Account Standards/ERC-2771/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Payment and Account Standards/ERC-2771/lib/openzeppelin-contracts"]
	path = Payment and Account Standards/ERC-2771/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Payment and Account Standards/ERC-4337/lib/forge-std"]
	path = Payment and Account Standards/ERC-4337/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Payment and Account Standards/ERC-4337/lib/account-abstraction"]
	path = Payment and Account Standards/ERC-4337/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "Payment and Account Standards/ERC-4337/lib/openzeppelin-contracts"]
	path = Payment and Account Standards/ERC-4337/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Infrastructure Standards/ERC-1967/lib/forge-std"]
	path = Infrastructure Standards/ERC-1967/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
